.body{
    position: relative;
}
.logopic{
    position: absolute;
    margin-left: 144px;
    margin-top: 42px;
}
.container{
    display: flex;
}
.container_headrer{
    display: flex;
    position: absolute;
    left: 650px;
    top: 42px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */ 
    color: #2F281E;
}
.customers{
    position: relative;
    left: 5%;
}
.pricing{
    position: relative;
    left: 15%;
}
.resources{
    position: relative;
    left: 20%;
}
.signin-btn{
    position: relative;
    color: #173A56;
    background-color: #BCD0E5;
    border-color:#173A56 ;
    left: 25%;
    top: 5px;
    width: 102px;
    height: 46px;
    
}
.signup-btn{
    background-color: #FF9900;
    color: #FFFFFF;
    position: relative;
    border: none;
    left: 30%;
    top: 5px;
    width: 110px;
    height: 46px;
}
.title1{
    position:absolute;
    width: 518px;
    height: 108px;
    left: 145px;
    top: 211px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}
.info{
    position: absolute;
    width: 458px;
    height: 95px;
    left: 145px;
    top: 349px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #544837;
}
.started-btn{
    width: 175px;
    height: 53px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    margin-top: 489px;
    margin-left: 145px;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}
.foto{
    display: inline-block;
    position: absolute;
    width: 605px;
    height: 496px;
    left: 666px;
    top: 128px;
}
.video-btn{
    position: absolute;
    width: 135px;
    height: 24px;
    left: 376px;
    top: 504px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #FF9900;
}
.card{
    display: flex;
    position: absolute;
    top: 898px;
    left: 197px;
    width: 2211px;
    height: 543px;
}
.main-title{
    position: absolute;
    top: 734px;
    left: 439px;
    width: 539px;
    height: 108px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #2F281E;
}
.card1{
    width: 240px;
    height: 178px;
    top: 898px;
}
.icon-title{
    top: 30px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    /* identical to box height */
    color: #2F281E;
}
.icon-title_info{
    top: 76px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    color: #544837;
}
.signupnow-btn{
    position: absolute;
    top: 1200px;
    left: 620px;
    width: 175px;
    height: 53px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #FFFFFF;
}


}

